body {
    position: relative;
    overflow-x: hidden;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    color: #fff;
    outline: none;
}

ul, p {
    margin: 0;
    padding: 0;
}

.header-price-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px 15px;
}

.home-header-section {
    padding-top: 20px;
}

.header-logo .st3 {
    fill: #fff;
}

/*TOOLTIP*/
.header-tooltip {
    display: none;
    position: absolute;
    top: 40px;
    right: 135px;
    background: #f6f9fc;
    max-width: 520px;
    width: 100%;
    border-radius: 5px;
    left: -50px;
    min-width: 520px;
    z-index: 5;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.header-tooltip:before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    top: -6px;
    left: 85px;
    background: #f6f9fc;
    transform: rotate(45deg);
}

.head-tooltip {
    display: flex;
    text-align: left;
}

.head-tooltip p {
    margin: 0;
    width: 50%;
    color: #b2b6ba;
    font-size: 11px;
    font-weight: 600;
    padding: 18px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.content-tooltip-wrap {
    display: flex;
    text-align: left;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
}

.content-tooltip {
    background: #ffffff;
    width: 50%;
    padding: 35px 25px 0;
}

.content-tooltip-item:before {
    position: absolute;
    left: -4px;
    top: 3px;
}

.content-tooltip-item {
    position: relative;
    margin-bottom: 26px;
    padding-left: 23px;
    height: 45px;
    overflow: hidden;
}

.content-tooltip-item.icon-star-filled:before {
    color: #eea321;
    font-size: 14px;
}

.icon-star-filled .learn-more:before {
    color: #eea321;
}

.content-tooltip-item.icon-volume-off:before {
    color: #d12b5d;
    font-size: 17px;
}

.icon-volume-off .learn-more:before {
    color: #d12b5d;
}

.content-tooltip-item.icon-blank:before {
    color: #2be9de;
    font-size: 11px;
    transform: rotate(45deg);
    left: 0;
}

.icon-blank .learn-more:before {
    color: #2be9de;
}

.content-tooltip-item.icon-menu:before {
    color: #55aef9;
    font-size: 14px;
}

.icon-menu .learn-more:before {
    color: #55aef9;
}

.content-tooltip-item.icon-play:before {
    color: #d12b5d;
    font-size: 14px;
}

.icon-play .learn-more:before {
    color: #d12b5d;
}

.content-tooltip-item.icon-help:before {
    color: #0acb77;
    font-size: 14px;
}

.icon-help .learn-more:before {
    color: #0acb77;
}

.content-tooltip-item p {
    color: #5d5c66;
    font-weight: 600;
    line-height: 1.3;
}

.content-tooltip-item span {
    color: #b3b2bb;
    font-size: 14px;
    letter-spacing: .2px;
    display: block;
    transition: .5s all;
}

.content-tooltip-item .learn-more {
    position: relative;
    color: #4e4e51;
    font-weight: 600;
}

.learn-more.icon-right:before {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.content-tooltip-item:hover .content-category {
    opacity: 0;
    margin-top: -20px;
}

/*TOOLTIP*/

.header-nav-wrapper {
    text-align: right;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-nav .list-unstyled {
    margin-right: 35px;
}

.header-nav .list-unstyled .menu-item:nth-child(1):hover .header-tooltip-solutions,
.header-nav .list-unstyled .menu-item:nth-child(2):hover .header-tooltip-resources {
    display: block;
}

.header-nav .list-unstyled .menu-item:nth-child(1):before,
.header-nav .list-unstyled .menu-item:nth-child(2):before {
    position: absolute;
    content: '';
    height: 30px;
    width: 100%;
    bottom: -21px;
}

.header-nav li {
    display: inline-block;
    margin-right: 55px;
    position: relative;
    color: #fff;
}

.header-nav li:last-child {
    margin-right: 0;
}

.header-main .header-nav a {
    color: #ffffff;
}

.header-nav a {
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

.header-nav a:hover {
    color: #ffffff;
}

.header-nav .dropdown a {
    transition: .2s all;
}

.header-nav .dropdown-menu a {
    color: #5f15cc;
}

.header-nav .dropdown-menu a:hover {
    background: #5f15cc;
    color: #ffffff;
}

.header-login {
    /*background: -webkit-linear-gradient(260deg, #9428ef 0%, #4c31b1 100%, #bd316a 100%, #833cf7 100%);*/
    /*background: linear-gradient(-170deg, #9428ef 0%, #4c31b1 100%, #bd316a 100%, #833cf7 100%);*/
    /*background: linear-gradient(to right, #502ec5 0%, #762ae5 100%);*/
    /*background: transparent;*/
    border: 1px solid #fff;
    padding: 7px 20px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-family: "Lato-SemiBold", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.header-login:hover:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .1);
}

.header-lang {
    display: inline-block;
    padding-right: 20px;
    padding-left: 0;
    background: url("../img/arrow-down.png") no-repeat right;
    cursor: pointer;
    position: relative;
}

.header-lang li {
    list-style: none;
    margin-right: 0;
}

.header-lang a {
    font-size: 16px;
}

.header-lang-drop {
    position: absolute;
    z-index: 3;
    display: none;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-height: 110vh;
    width: 100%;
    /*height: 100%;*/
    background-color: #140c1f;
    z-index: 50;
    display: none;
}

.mnu {
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: 15;
    background-color: #140c1f;
    padding: 25px 20px;
    text-align: center;
}

.header-price-item {
    display: inline-block;
    margin-right: 50px;
}

.header-price-item:last-child {
    margin-right: 0;
}

/*.header-price-item-2 {*/
/*-webkit-transform: translateX(9px);*/
/*-ms-transform: translateX(9px);*/
/*transform: translateX(9px);*/
/*}*/

/*.header-price-item-3 {*/
/*-webkit-transform: translateX(20px);*/
/*-ms-transform: translateX(20px);*/
/*transform: translateX(20px);*/
/*}*/

/*.mnu .header-price-item-2, .mnu .header-price-item-3 {*/
/*-webkit-transform: none;*/
/*-ms-transform: none;*/
/*transform: none;*/
/*}*/

.token-name {
    font-size: 12px;
    color: #73618c;
    text-transform: uppercase;
    margin-right: 5px;
    font-family: 'Lato-SemiBold';
}

.token-price {
    font-size: 13px;
    color: #fff;
    font-family: "Lato-SemiBold", sans-serif;
}

.token-percent {
    font-size: 13px;
    color: #22aba5;
    font-family: "Lato-Bold", sans-serif;
}

.mnu .header-nav {
    margin-right: 0;
    margin-top: 20px;
    display: block;
    margin-bottom: 20px;
}

.mnu .header-nav li {
    display: block;
    margin-right: 0;
}

.mnu .header-nav li a {
    padding: 5px 0;
}

.mnu .without-link {
    margin-bottom: 30px;
}

.mnu .without-link > a {
    color: #a671e1;
    letter-spacing: 1px;
    font-size: 12px;
}

.mnu .without-link > a:hover {
    color: #a671e1;
}

.mnu .header-nav .header-login {
    display: inline-block;
    padding: 7px 30px;
    margin: 10px 0;
    background: linear-gradient(to right, #502ec5 0%, #762ae5 100%);
    border: 0;
    line-height: 1;
}

/*SLIDER LANGUAGE*/
/*.mnu .dropdown {*/
/*display: none;*/
/*}*/
.swiper-language {
    background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, .1) 50%, transparent 100%);
}

.swiper-language span {
    color: #ffffff;
    display: inline-block;
    padding: 8px 28px;
}

.swiper-language .custom-btn {
    /*background: #ccc;*/
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    outline: none;
}

.swiper-language .custom-btn:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid transparent;
}

.swiper-language .custom-btn-prev {
    left: 50px;
}

.swiper-language .custom-btn-next {
    right: 50px;
}

.swiper-language .custom-btn-prev:before {
    border-right: 5px solid #ccc;
}

.swiper-language .custom-btn-next:before {
    border-left: 5px solid #ccc;
}

/*SLIDER LANGUAGE*/

.toggle-nav {
    display: none;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 51;
}

.toggle-nav.on {
    left: auto;
}

.toggle-nav span:after, .toggle-nav span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
}

.toggle-nav span:after {
    top: 18px;
}

.toggle-nav span {
    position: relative;
    display: block;
}

.toggle-nav span, .toggle-nav span:after, .toggle-nav span:before {
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    backface-visivility: hidden;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.toggle-nav.on span {
    background-color: transparent;
}

.toggle-nav.on span:before {
    -webkit-transform: rotate(45deg) translate(-1px, 0);
    -ms-transform: rotate(45deg) translate(-1px, 0);
    transform: rotate(45deg) translate(-1px, 0);
}

.toggle-nav.on span:after {
    -webkit-transform: rotate(-45deg) translate(6px, -7px);
    -ms-transform: rotate(-45deg) translate(6px, -7px);
    transform: rotate(-45deg) translate(6px, -7px);
}

.dropdown-menu.show li {
    margin: 0;
    width: 100%;
}

@media only screen and (max-width: 1199px) {
    .toggle-nav {
        display: block;
    }

    .header-nav-wrapper {
        display: none;
    }

    .header-logo {
        display: block;
        text-align: center;
        width: 300px;
        margin: 13px auto;
    }
}

@media (max-width: 991px) {
    .header-main-top {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .header-price-wrapper {
        display: none;
    }

    .header-logo {
        margin: 8px auto;
        width: 190px;
    }

    .toggle-nav {
        top: 13px;
    }
}
