@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.woff2') format('woff2'),
    url('../fonts/Lato-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Medium';
    src: url("../fonts/Lato-Medium.eot");
    src: url("../fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("truetype"), url("../fonts/Lato-Medium.svg#Lato-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url("../fonts/Lato-Regular.eot");
    src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Semibold';
    src: url("../fonts/Lato-Semibold.woff2") format("woff2"),
    url("../fonts/Lato-Semibold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url("../fonts/Lato-Bold.woff2") format("woff2"),
    url("../fonts/Lato-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Heavy';
    src: url("../fonts/Lato-Heavy.eot");
    src: url("../fonts/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Heavy.woff2") format("woff2"), url("../fonts/Lato-Heavy.woff") format("woff"), url("../fonts/Lato-Heavy.ttf") format("truetype"), url("../fonts/Lato-Heavy.svg#Lato-Heavy") format("svg");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesque';
    src: url('../fonts/BrandonGrotesque-Medium.woff2') format('woff2'),
    url('../fonts/BrandonGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesque';
    src: url('../fonts/BrandonGrotesque-Regular.woff2') format('woff2'),
    url('../fonts/BrandonGrotesque-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

a:not([href]):not([tabindex]) {
    cursor: default;
}

.toggle-nav {
    position: absolute;
}

.text-social-media {
    color: #6260ea !important;
    font-family: 'Lato-Regular';
}

.text-gray {
    color: #a5a3b9 !important;
}

.dropdown .dropdown-toggle {
    font-family: 'Lato-Regular';
    letter-spacing: .2px;
}

.btn-social-wrap {
    position: relative;
}

.btn-social-media {
    position: relative;
    color: #4557af;
    background: linear-gradient(to right, #ebeaff 0%, #f4ebff 100%);
    font-family: 'Lato-Regular';
    padding: 10px 33px;
    letter-spacing: 1px;
    font-size: 18px;
}

.btn-social-media:hover {
    color: #4557af;
}

.btn-social-media span {
    position: relative;
    z-index: 5;
}

.show > .btn-social-media.dropdown-toggle,
.btn-social-media:not(:disabled):not(.disabled).active,
.btn-social-media:not(:disabled):not(.disabled):active {
    color: #4557af;
    background-color: #a9a9fd;
    border-color: #a9a9fd;
}

body {
    font-family: 'Lato', sans-serif !important;
    background: transparent url("../img/other/bg-header.jpg") top center no-repeat;
}

body.admin-bar {
    margin-top: 32px;
}

@media screen and (max-width: 782px) {
    body.admin-bar {
        margin-top: 46px;
    }
}

@media (max-width: 767px) {
    body {
        background-position: 50% 0;
    }
}

.page-wrapper {
    background: transparent url("../img/other/bg-footer.jpg") bottom center no-repeat;
}

@media (min-width: 1921px) {
    body,
    .page-wrapper {
        background-size: contain;
    }
}

/*.logo-header {*/
/*display: inline-block;*/
/*vertical-align: middle;*/
/*width: 290px;*/
/*height: 40px;*/
/*background: transparent url("../img/other/logo-header.png") top center no-repeat;*/
/*}*/

/*.logo-header:hover,*/
/*.logo-header:active {*/
/*background-position: bottom center;*/
/*}*/

.logo-footer {
    display: inline-block;
    vertical-align: middle;
    width: 179px;
    height: 24px;
}

.logo-footer svg .st0,
.logo-footer svg .st1,
.logo-footer svg .st2,
.logo-footer svg .st3 {
    fill: #adaac7;
}

.pulsating-circle-wrapper {
    position: relative;
    height: 150px;
}

.pulsating-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100px;
    height: 100px;
}

.pulsating-circle > span {
    opacity: 0.61;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.313;
    color: #bcb1de;
    font-family: 'Lato-Light';
}

.pulsating-circle > span:after {
    display: block;
    margin: 10px auto 0;
    width: 12px;
    height: 12px;
    background: #6b47d5;
    content: '';
    transform: rotate(45deg);
}

.pulsating-circle:before {
    content: '';
    position: relative;
    display: block;
    width: 150%;
    height: 150%;
    box-sizing: border-box;
    margin-left: -25%;
    margin-top: -25%;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #6a45d4;
    animation: pulse-ring 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.pulsating-circle:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #6a45d4;
    animation: pulse-dot 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

@keyframes pulse-ring {
    0% {
        transform: scale(0.33);
    }
    80%,
    100% {
        opacity: 0;
    }
}

@keyframes pulse-dot {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}

.cd-image-container {
    position: relative;
    width: 720px;
    height: 440px;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 5px 15px 0 rgba(7, 7, 7, 0.16);
    border-radius: 5px;
    overflow: hidden;
}

.cd-image-container img {
    display: block;
}

.cd-image-label {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #ffffff;
    padding: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}

.cd-image-label.is-hidden {
    visibility: hidden;
}

.is-visible .cd-image-label {
    opacity: 1;
    transform: translateY(0);
}

.cd-resize-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-right: 2px solid #dddde1;
}

.cd-resize-img img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    width: auto;
    max-width: none;
}

.cd-resize-img .cd-image-label {
    right: auto;
    left: 0;
}

.is-visible .cd-resize-img {
    width: 50%;
    animation: cd-bounce-in 0.7s;
}

@keyframes cd-bounce-in {
    0% {
        width: 0;
    }
    60% {
        width: 55%;
    }
    100% {
        width: 50%;
    }
}

.cd-handle {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    background: #3c3b44 url("../img/cd-arrows.svg") center center no-repeat;
    cursor: move;
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);
}

.cd-handle.draggable {
    background-color: #445b7c;
}

.is-visible .cd-handle {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
    transition: transform 0.3s 0.7s, opacity 0s 0.7s;
}

.section-header {
    background: #140c1f;
}

.section-header .list-inline .list-inline-item {
    font-weight: normal;
    font-size: 12px;
    color: #73618c;
}

.section-header .list-inline .list-inline-item > span {
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.section-header .list-inline .list-inline-item strong {
    font-weight: normal;
    color: #ffffff;
}

.section-header .list-inline .list-inline-item sup {
    top: 0;
    font-weight: bold;
    font-size: 100%;
    color: #22aba5;
    line-height: inherit;
}

@media (max-width: 575px) {
    .section-header .list-inline .list-inline-item {
        display: block;
    }

    .section-header .list-inline .list-inline-item > span {
        width: 150px;
    }
}

.section-subheader {
    padding: 2rem 0;
}

.section-subheader .social-links .list-inline-item:not(:last-child) {
    margin-right: 1rem;
}

.section-subheader .social-links a {
    text-decoration: none;
    font-size: 1.125rem;
    color: #ffffff;
}

.section-subheader .social-links a:hover,
.section-subheader .social-links a:focus {
    opacity: 0.9;
}

.features {
    padding-top: 140px;
    text-align: center;
}
.features-title {
    font-size: 46px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 5px;
}
.features-desc {
    font-size: 1.375rem;
    color: #cec3ed;
    margin-bottom: 50px;
    font-family: 'Lato-Light';
}

.section-main .featrues-btns {
    margin-bottom: 50px;
}

.btn-primary-influencer {
    margin-right: 48px;
}


.btn-primary-influencer,
.btn-primary-advertiser {
    text-transform: uppercase;
    font-family: 'ProximaNova';
    display: inline-block;
    width: 270px;
    padding: 16px;
    background: #2da5ef;
    font-size: 1rem;
    color: #ffffff;
    letter-spacing: 0.05em;
    border-radius: 5px;
    border: none;
    box-shadow: 0 5px 14px 0 rgba(1, 3, 57, 0.2);
}

.btn-primary-influencer:hover,
.btn-primary-advertiser:hover {
    border: none;
    color: #ffffff;
}

.show > .btn-primary-influencer.dropdown-toggle,
.btn-primary-influencer:not(:disabled):not(.disabled).active,
.btn-primary-influencer:not(:disabled):not(.disabled):active,
.show > .btn-primary-advertiser.dropdown-toggle,
.btn-primary-advertiser:not(:disabled):not(.disabled).active,
.btn-primary-advertiser:not(:disabled):not(.disabled):active {
    border: none;
    color: #ffffff;
}

.btn-primary-influencer {
    background: linear-gradient(135deg, #398bf4 0%, #1dc9e9 100%);
}
.btn-primary-advertiser {
    background: linear-gradient(135deg, #16c9e5 0%, #0acbb9 100%);
}

.default-btn {
    position: relative;
}

.default-btn:hover:before {
    content: '';
    background: rgba(255, 255, 255, .3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /*opacity: .9;*/
}

.img-responsive {
    width: 100%;
}

.section-main .comparison-reason {
    position: absolute;
    width: 190px;
    z-index: 1;
    font-size: 1.0625rem;
}

.section-main .comparison-reason p {
    font-family: 'Lato-Light';
}

.section-main .comparison-reason1 {
    top: -150px;
    right: 0;
}

.section-main .comparison-reason2 {
    top: -60px;
    left: 0;
}

.section-main .comparison-reason3 {
    right: 0;
    bottom: 100px;
}

.section-main .description-left,
.section-main .description-right {
    position: absolute;
    width: 190px;
}

.section-main .description-left p,
.section-main .description-right p {
    font-weight: normal;
    font-size: 19px;
}

.section-main .description-left .description--arrow,
.section-main .description-right .description--arrow {
    margin-top: 30px;
    font-size: 20px;
}

@media (max-width: 1300px) {
    .section-main .description-left,
    .section-main .description-right {
        display: none;
    }
}

.section-main .description-left {
    left: 0;
    top: 40px;
}

.section-main .description-left i.fa {
    color: #f00d72;
}

.section-main .description-right {
    right: 0;
    bottom: 160px;
}

.section-main .description-right i.fa {
    color: #17b5a0;
}

.section-main .laptop-mobile-image {
    display: block;
    margin: 0 auto 40px;
}

@media (min-width: 768px) {
    .section-main .laptop-mobile-image {
        display: none;
    }
}

.section-main .comparison-wrapper {
    position: relative;
    width: 720px;
    height: 440px;
    max-width: 100%;
}

.section-main .comparison-wrapper:before {
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    background: #6b47d5;
    height: 100px;
    top: -100px;
}

@media (max-width: 992px) {
    .section-main .comparison-wrapper {
        width: auto;
        margin-left: -15px;
        margin-right: -15px;
        max-width: none;
    }
}

.section-main .comparison-wrapper .laptop-image1,
.section-main .comparison-wrapper .laptop-image2,
.section-main .comparison-wrapper .laptop-image3 {
    position: absolute;
    z-index: 1;
    display: block;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(7, 7, 7, 0.42);
}

@media (max-width: 992px) {
    .section-main .comparison-wrapper .laptop-image1,
    .section-main .comparison-wrapper .laptop-image2,
    .section-main .comparison-wrapper .laptop-image3 {
        display: none;
    }
}

.section-main .comparison-wrapper .laptop-image1 {
    top: 70px;
    left: -70px;
}

.section-main .comparison-wrapper .laptop-image2 {
    top: -20px;
    right: -100px;
}

.section-main .comparison-wrapper .laptop-image3 {
    bottom: 80px;
    right: -55px;
}

.section-main .actions {
    margin: 60px 0 0;
}

.section-trusted .trusted-label {
    line-height: 1.875;
    font-size: 1.125rem;
    color: #cac8de;
    letter-spacing: 0.025em;
    font-family: 'Lato-Bold';
}

.section-trusted hr {
    border-top: 1px solid rgba(228, 227, 237, 0.51);
}

.benefits-item--image img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.benefits-item--title {
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 30px;
    font-family: 'Lato-Regular';
}

.benefits-item .benefits-item--desc {
    font-family: 'Lato-Light';
    margin-bottom: 40px;
    font-size: 1rem;
    line-height: 1.675rem;
    color: #878691;
}

.benefits-item--desc strong {
    font-weight: 600;
}

@media (max-width: 992px) {
    .benefits-item--container {
        padding: 0;
    }

    .benefits-item {
        margin-bottom: 50px;
    }
}

@media (max-width: 767px) {
    .benefits-item .benefits-item--desc {
        max-width: 100%;
    }

    .benefits-item--image {
        margin-bottom: 20px;
    }
}

.section-exchange {
    background: #f5f7fd url("../img/other/bg-exchange.jpg") center center no-repeat;
}

.section-exchange--inner {
    height: 721px;
}

.section-exchange .section-title {
    font-size: 2.125rem;
}

.section-team {
    /*background: url('../img/our-team-bg.jpg');*/
    /*background-position: 50% 60%;*/
    background: #f5f7fd;
    border-top-left-radius: 60px;
    padding-bottom: 80px !important;
    position: relative;
}

.section-team:before {
    position: absolute;
    content: url('../img/section-team-bg.png');
    left: 110px;
    bottom: 125px;
}

@media (min-width: 992px) {
    .section-team {
        padding-bottom: 190px !important;
    }
}

.section-team .section-title {
    font-size: 48px;
}

.section-team .media {
    display: block;
}

.section-team .media .media-element.fl,
.section-team .media .media-element.fr {
    float: none;
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .section-team .media .media-element.fl {
        float: left;
        margin-right: 20px;
    }

    .section-team .media .media-element.fr {
        float: right;
        margin-left: 20px;
    }
}

.section-team .media .media-body {
    display: block;
    overflow: hidden;
    -ms-flex: none;
    flex: none;
}

.section-team .media:after {
    display: table;
    width: 100%;
    clear: both;
    content: '';
}

.img-preload {
    max-width: 95px;
    height: 30px;
    width: 20%;
}

.team-list {
    margin: 0 -8px;
    list-style: none;
    padding: 0 0 50px 0;
    display: flex;
    flex-wrap: wrap;
}

.team-list:after {
    display: table;
    width: 100%;
    clear: both;
    content: '';
}

.team-list .team-item {
    padding: 0 8px;
    float: left;
    min-height: 1px;
    margin: 0 0 20px 0;
    width: 100%;
    text-align: center;
    height: auto !important;
}

.team-list .team-hide {
    display: none;
}

@media (min-width: 768px) {
    .team-list .team-item {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .team-list .team-item {
        width: 33.33333%;
        text-align: left;
    }
}

.team-list .team-item--inner {
    position: relative;
    background: #ffffff;
    padding: 20px;
    padding-bottom: 100px;
    border-radius: 5px;
    height: 100%;
    box-shadow: 0 5px 20px 0 rgba(18, 7, 56, 0.1);
}

.team-list .team-item .media {
    margin-bottom: 15px;
}

.team-item--link {
    position: absolute;
    top: 10px;
    right: 10px;
}

.team-item--link > a {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #158bcc;
    border: 1px solid;
    border-radius: 4px;
    font-size: 18px;
}

.team-item--link > a + a {
    margin-left: 5px;
}

.team-item--link > a:hover,
.team-item--link > a:active {
    background: #158bcc;
    color: #ffffff;
}

.team-item--image {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
}

.team-item--company {
    position: absolute;
    left: 10px;
    top: 10px;
    right: auto;
}

@media (min-width: 992px) {
    .team-item--company {
        top: 50px;
        left: auto;
        right: 10px;
    }
}

.team-item--title {
    font-family: 'Lato-Bold';
    font-size: 1.625rem;
    line-height: 1.1;
    color: #23266a;
    margin: 0 0 1rem 0;
    word-spacing: 9999px;
}

.team-item--job-title {
    font-size: 1.0625rem;
    line-height: 1;
    color: #000000;
}

.team-item--job-title strong {
    font-weight: bold;
    line-height: normal;
    font-family: 'Lato-SemiBold';
}

.team-item--description {
    font-family: 'Lato-Light';
    font-size: 1rem;
    color: #878691;
    margin: 0;
    margin-bottom: 20px;
}

.section-videos {
    padding: 60px 0 120px;
}

.section-video-tabs {
    max-width: 885px;
    margin: 0 auto;
}

.section-video-tabs h2 {
    font-size: 48px;
    color: #3a3a3a;
}

.section-videos .videos-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    font-size: 0;
    border-bottom: 4px solid #f4f3f6;
}

/*.section-videos .videos-list:before {*/
/*position: absolute;*/
/*content: '';*/
/*height: 4px;*/
/*background: #672cd3;*/
/*bottom: -4px;*/
/*}*/

.section-videos .videos-list--item {
    display: inline-block;
}

.videos-list--container {
    position: relative;
}

.videos-list--container .active-tab--border {
    position: absolute;
    bottom: 0;
    height: 4px;
    transition: .4s ease-in-out;
    background: #672cd3;
    z-index: 2;
}

@media (max-width: 992px) {
    .active-tab--border {
        display: none;
    }

    .section-videos .videos-list {
        border: 0;
    }
}

/*.section-videos .videos-list--item:before {*/
/*position: absolute;*/
/*content: '';*/
/*height: 4px;*/
/*background: #f4f3f6;*/
/*bottom: -4px;*/
/*left: 0;*/
/*width: 0;*/
/*!*transition: .5s all;*!*/
/*}*/

/*.section-videos .videos-list--item.active:before {*/
/*background: #672cd3;*/
/*width: 100%;*/
/*transition: .5s all;*/

/*}*/

.section-videos .videos-list--item-link {
    display: block;
    padding: 14px 5px;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    color: #252525;
    position: relative;
    font-size: 19px;
    font-family: Lato-Regular;
}

/*.section-videos .videos-list--item-link .fa {*/
/*display: none;*/
/*position: absolute;*/
/*right: 15px;*/
/*top: 50%;*/
/*transform: translateY(-50%);*/
/*}*/

.section-videos .col-md-4 {
    width: 100%;
}

/*popup video*/

.translucent-bg {
    opacity: 0;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: .5s all;
}

.fotorama-item-video {
    transition: .5s all;
    opacity: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/*popup video*/

@media (min-width: 992px) {
    .section-videos {
        padding: 90px 0 120px;
    }
}

@media (max-width: 1440px) {
    .section-team:before {
        left: 50px;
    }
}

@media (max-width: 1200px) {
    .section-team:before {
        display: none;
    }
}

@media (max-width: 991px) {
    .videos-list {
        flex-direction: column;
    }
}

.fotorama--fullscreen .fotorama__thumb-border {
    border-color: #b82382 !important;
}

.card-video {
    position: relative;
    width: 100%;
    z-index: 1;
    border-radius: 4px;
    overflow: visible;
    background: #ffffff;
    box-shadow: 0 24px 45px 0 rgba(19, 19, 31, 0.33);
}

.card-video .fotorama {
    overflow: visible;
    max-width: 100%;
}

.card-video .fotorama .fotorama__thumb-border {
    background: rgba(255, 255, 255, 0.17);
    border-color: transparent;
    border-radius: 5px;
    display: none !important;
}

.card-video .fotorama .fotorama__thumb {
    border-radius: 5px;
    padding: 0;
}

.card-video .fotorama .fotorama__nav--thumbs .fotorama__nav__frame {
    margin-right: 5px;
    margin-left: 5px;
}

.card-video .fotorama .fotorama__nav__frame--thumb {
    transition: margin 300ms ease;
    padding: 0 !important;
}

.card-video .fotorama .fotorama__nav__frame--thumb.fotorama__active {
    margin-top: -10px;
    border-radius: 5px;
    padding: 0 !important;
    box-shadow: 0 4px 8px 0 rgba(31, 31, 36, 0.3);
}

.card-video .fotorama .fotorama__nav__frame.fotorama__active .fotorama__thumb:after {
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.25);
    content: '';
}

.card-video .fotorama .fotorama__nav__frame .fotorama__video-play {
    width: 27px;
    height: 27px;
    margin-left: -14px;
    margin-top: -14px;
    background: transparent url("../img/fotorama/fotorama-play.png") center center no-repeat;
    z-index: 2;
}

.card-video h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    color: #171718;
    margin: 0 0 15px 0;
    line-height: 1;
    font-family: 'Lato-Bold';
    letter-spacing: .1px;
}

.card-video p {
    font-family: 'Lato-Light';
    font-size: 16px;
    color: #5e6165;
    margin: 0;
}

.card-video--footer {
    position: relative;
    padding: 25px;
}

.fotorama__nav-wrap {
    position: absolute;
}

.fotorama__dot {
    border: 3px solid #dedfe1;
}

.fotorama__active .fotorama__dot {
    border: solid #6260ea;
}

.card-video--footer .fotorama-go-prev,
.card-video--footer .fotorama-go-next {
    position: absolute;
    bottom: -65px;
    color: #9e9ea2;
    opacity: 0.5;
    font-size: 25px;
}

.card-video--footer .fotorama-go-prev:hover,
.card-video--footer .fotorama-go-prev:active,
.card-video--footer .fotorama-go-next:hover,
.card-video--footer .fotorama-go-next:active {
    opacity: 1;
}

.card-video--footer .fotorama-go-prev {
    left: 5%;
}

.card-video--footer .fotorama-go-next {
    right: 5%;
}

.card-video--footer .video-info {
    font-size: 16px;
    color: #abaeb3;
    margin-bottom: 20px;
    font-family: 'BrandonGrotesque';
    font-weight: 600;
}

.card-video--footer .video-info .media .media-element.fr {
    margin-bottom: 0;
}

.card-video--footer .video-info .media-element > a,
.card-video--footer .video-info .media-body > a {
    color: #abaeb3;
}

.card-video--footer .video-info .media-element > a,
.card-video--footer .video-info .media-element > span,
.card-video--footer .video-info .media-body > a,
.card-video--footer .video-info .media-body > span {
    margin: 0 5px;
}

.card-video--footer .video-info .media-element > a:first-child,
.card-video--footer .video-info .media-element > span:first-child,
.card-video--footer .video-info .media-body > a:first-child,
.card-video--footer .video-info .media-body > span:first-child {
    margin-left: 0;
}

.footer-bg {
    background: url('../img/footer-bg.jpg') 30% -4% no-repeat;
    width: 100%;
}

/*.footer-bg:before {*/
/*position: absolute;*/
/*content: '';*/
/*background: #f5f7fd;*/
/*height: 81%;*/
/*left: -30px;*/
/*bottom: 42px;*/
/*right: -30px;*/
/*border-top-left-radius: 95%;*/
/*border-top-right-radius: 51%;*/
/*transform: rotate(-9deg);*/
/*}*/

.section-books .book-item {
    box-shadow: 0 3px 31px 0 rgba(1, 3, 57, 0.18);
    border-radius: 5px;
    min-height: 180px;
    position: relative;
}

.section-books .book-item > .media {
    padding-right: 110px;
}

.section-books .book-item--title {
    font-size: 1.0625rem;
    color: #000000;
    font-family: 'Lato-SemiBold';
}

.section-books .book-item--image {
    position: absolute;
    overflow: hidden;
    top: 1rem;
    right: -1rem;
    border-radius: 5px;
}

.section-books .book-item--language {
    margin-left: -0.25rem !important;
    margin-right: -0.25rem !important;
}

.section-books .book-item--language .btn {
    letter-spacing: 0.05em;
    font-size: 1rem;
    color: #4557af;
    background-color: transparent;
    border-color: #e1e3f1;
    font-family: 'Lato-Regular';
}

.section-books .book-item--language .btn:hover {
    color: #ffffff;
    background-color: #4557af;
    border-color: #4557af;
}

.dropdown-language {
    display: flex;
    align-items: center;
}

.dropdown-language .dropdown-toggle {
    color: #a5a3b9;
}

.section-footer {
    padding: 63px 0;
}

/*.section-footer:before {*/
/*position: absolute;*/
/*content: '';*/
/*background: #f5f7fd;*/
/*right: 0;*/
/*bottom: 0;*/
/*height: 100%;*/
/*width: 50%;*/
/*}*/

.section-footer .icon-language {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #adaac7;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-family: 'Lato-Regular';
    font-size: 11px;
}

.section-footer .dropdown {
    padding-left: 8px;
}

footer.section-footer div {
    font-family: 'Lato-Bold';
    font-size: 1.125rem;
    color: #a5a3b9;
    letter-spacing: 0.025em;
}

footer.section-footer ul li a {
    font-family: 'Lato-Light';
    font-weight: 300;
    font-size: 1rem;
    color: #a5a3b9;
    line-height: 1.8;
}

footer.section-footer .social-links {
    font-size: 20px;
}

footer.section-footer .social-links a {
    color: #a5a3b9;
}

footer.section-footer .social-links a:hover,
footer.section-footer .social-links a:active {
    color: #4557af;
}

.section-copyrights {
    font-family: 'Lato-Light';
    color: #a5a3b9;
    font-size: 0.875rem;
}

.section-copyrights .container {
    position: relative;
    z-index: 5;
    border-top: 1px solid #e7e6f1;
}

.section-copyrights a {
    color: #a5a3b9;
}

.section-copyrights a:hover,
.section-copyrights a:active {
    color: #4557af;
}

@media (max-width: 1440px) {
    .footer-bg {
        background-position: 46% -3%;
    }
}

@media (max-width: 992px) {
    .footer-bg {
        background: none;
    }

    .section-footer, .section-copyrights {
        background: #f5f7fd;
    }
}

@media (max-width: 767px) {
    .section-books .book-item {
        margin-right: 15px;
    }

    .section-main .comparison-wrapper {
        display: none;
    }

    .section-main {
        padding-top: 60px ;
    }

    .section-team {
        border-top-left-radius: 0;
    }

    .section-main h1 {
        font-size: 30px;
        line-height: 1.5;
    }

    .section-main .features-desc {
        font-size: 18px;
    }

    .btn-primary-influencer, .btn-primary-advertiser {
        font-size: 16px;
        width: auto;
        padding: 16px 26px;
    }

    .btn-primary-influencer {
        margin-right: 20px ;
    }

    .benefits-item--title, .text-social-media {
        font-size: 26px;
    }

    .section-team .section-title, .section-video-tabs h2 {
        font-size: 28px;
    }

    .advisor-item--company {
        text-align: center;
    }

    .advisor-item--video[_ngcontent-c5] {
        position: relative;
        bottom: auto;
        left: auto;
        transform: none;
        margin-top: 20px;
    }

    .team-list .team-item--inner {
        padding-bottom: 20px;
    }

    .team-item--description {
        height: auto;
    }
}

@media (max-width: 505px) {
    .btn-primary-influencer {
        margin-right: 0 !important;
    }

    .btn-primary-influencer, .btn-primary-advertiser {
        display: block;
        max-width: 300px;
        width: 100%;
        margin: 0 auto 20px !important;
    }
}