html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
input, textarea, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul, li {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, textarea {
    border: 0;
    outline: none;
}
select {
    outline: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    text-decoration: none;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.woff2') format('woff2'),
    url('../fonts/Lato-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-Regular.eot");
    src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-Medium.eot");
    src: url("../fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("truetype"), url("../fonts/Lato-Medium.svg#Lato-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-Semibold.woff2") format("woff2"),
    url("../fonts/Lato-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-Bold.woff2") format("woff2"),
    url("../fonts/Lato-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-Heavy.eot");
    src: url("../fonts/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Heavy.woff2") format("woff2"), url("../fonts/Lato-Heavy.woff") format("woff"), url("../fonts/Lato-Heavy.ttf") format("truetype"), url("../fonts/Lato-Heavy.svg#Lato-Heavy") format("svg");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesque';
    src: url('../fonts/BrandonGrotesque-Medium.woff2') format('woff2'),
    url('../fonts/BrandonGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesque';
    src: url('../fonts/BrandonGrotesque-Regular.woff2') format('woff2'),
    url('../fonts/BrandonGrotesque-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

nav, ul {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

span {
    display: inline-block;
}

body {
    background: #f5f7fd;
    color: #151519;
    font-family: 'Lato';
    overflow-x: hidden;
    position: relative;
    line-height: 1.5;
}

/*body.admin-bar {*/
/*margin-top: 32px;*/
/*}*/

/*Btn*/

.btn {
    font-size: 18px;
    border-radius: 4px;
}

.btn-gradient-purple {
    color: #4557af;
    letter-spacing: .5px;
    padding: 18px 50px;
    background: linear-gradient(to right, #e7e7fe 0%, #f0e8fe 100%);
    white-space: nowrap;
    font-weight: 600;
}
@media (max-width: 767px) {
    .btn-gradient-purple {
        font-size: 16px;
        padding: 12px 40px;
    }
}

.btn-gradient-blue {
    font-size: 18px;
    border: 0;
    letter-spacing: .5px;
    font-weight: 400;
    padding: 16px 84px;
    cursor: pointer;
    background: linear-gradient(to right, #3a8af4 0%, #1dcae9 100%);
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: 'Lato';
}

.btn-gradient-blue:hover {
    background: linear-gradient(to right, #1dcae9 0%, #3a8af4 100%);
}

/*Btn*/

/*Header price top*/
.header-price-top {
    background: #140c1f;
    padding: 8px;
}

.header-price-wrapper {
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.header-price-item {
    display: inline-block;
    margin-right: 50px;
}

.token-name {
    font-size: 12px;
    color: #73618c;
    text-transform: uppercase;
    margin-right: 5px;
}

.token-price {
    font-size: 13px;
    color: #ffffff;
}

.token-percent {
    font-size: 13px;
    color: #22aba5;
}

.header-price-item:last-child {
    margin-right: 0;
}

/*Header price top*/

@media (max-width: 767px) {
    .header-price-top {
        display: none;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-height: 110vh;
    width: 100%;
    /*height: 100%;*/
    background-color: #140c1f;
    z-index: 10;
    display: none;
}

.mnu {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: 15;
    background-color: #140c1f;
    padding: 25px 20px;
    text-align: center;
}

.mnu .header-nav li {
    display: block;
    text-align: center;
    margin: 0 0 5px 0;
    line-height: 24px;
}

.mnu .header-nav a {
    color: #ffffff;
}

.mnu .header-nav .without-link {
    margin-bottom: 30px;
}

.mnu .header-nav .without-link > a {
    color: #a671e1;
    letter-spacing: 1px;
    font-size: 12px;
}

.mnu .header-nav .header-login a {
    display: inline-block;
    padding: 12px 30px;
    margin: 10px 0;
    background: linear-gradient(to right, #502ec5 0%, #762ae5 100%);
    border: 0;
    line-height: 1;
}

/*SLIDER LANGUAGE*/
.swiper-language {
    background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, .1) 50%, transparent 100%);
}

.swiper-language span {
    color: #ffffff;
    display: inline-block;
    padding: 8px 28px;
}

.swiper-language .custom-btn {
    /*background: #ccc;*/
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    outline: none;
}

.swiper-language .custom-btn:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid transparent;
}

.swiper-language .custom-btn-prev {
    left: 50px;
}

.swiper-language .custom-btn-next {
    right: 50px;
}

.swiper-language .custom-btn-prev:before {
    border-right: 5px solid #ccc;
}

.swiper-language .custom-btn-next:before {
    border-left: 5px solid #ccc;
}

/*SLIDER LANGUAGE*/

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.container-sm {
    max-width: 960px;
}

/*16:9*/
.item-photo {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}
.item-photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*16:9*/

/*Header*/
.page-content {
    margin: 130px 0 150px;
}

section.header {
    position: relative;
    padding: 35px 0;
}

.header-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-container {
    display: flex;
    align-items: center;
}

.header-nav-wrapper .logo {
    width: 300px;
}

.header-nav-wrapper .logo a {
    width: 100%;
}

.header-nav li:first-child {
    margin-left: 0;
}

.header-nav li {
    position: relative;
    display: inline-block;
    margin-left: 55px;
}

.header-nav li:nth-child(1):before,
.header-nav li:nth-child(2):before {
    position: absolute;
    content: '';
    height: 30px;
    width: 100%;
    bottom: -21px;
}

.header-nav .header-login {
    margin-left: 35px;
}

.header-nav .header-login a {
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 5px;
}

.header-nav .header-login a:hover {
    text-decoration: none;
}

.header-nav li a {
    color: #a5a3b9;
    letter-spacing: .2px;
}

.header-nav li a:hover {
    text-decoration: underline;
}

.header-nav-container .dropdown {
    margin-left: 35px;
}

.dropdown, .dropup {
    position: relative;
    color: #a5a3b9;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-menu.show li {
    width: 100%;
}

.header-nav-wrapper .dropdown-menu a {
    transition: .2s all;
    color: #5f15cc;
}

.header-nav-wrapper .dropdown-menu a:hover {
    background: #5f15cc;
    color: #ffffff;
}

/*Header*/

/*Header sm*/
.toggle-nav {
    display: none;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    cursor: pointer;
    z-index: 11;
    transition: .5s all;
}

.toggle-nav span {
    display: block;
    position: relative;
}

.toggle-nav span, .toggle-nav span:after, .toggle-nav span:before {
    width: 100%;
    height: 2px;
    background-color: #000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.toggle-nav span:after, .toggle-nav span:before {
    content: '';
    position: absolute;
    left: 0;
}

.toggle-nav span:after {
    top: 18px;
}

.toggle-nav span:before {
    top: 9px;
}

.toggle-nav.on {
    position: fixed;
    transform: translateY(0);
    top: 25px;
    left: auto;
    right: 25px;
}

.toggle-nav.on span {
    background-color: transparent;
}

.toggle-nav.on span:after {
    -webkit-transform: rotate(-45deg) translate(6px, -7px);
    -ms-transform: rotate(-45deg) translate(6px, -7px);
    transform: rotate(-45deg) translate(6px, -7px);
}

.toggle-nav.on span:before {
    -webkit-transform: rotate(45deg) translate(-1px, 0);
    -ms-transform: rotate(45deg) translate(-1px, 0);
    transform: rotate(45deg) translate(-1px, 0);
}

.toggle-nav.on span:after, .toggle-nav.on span:before {
    background: #ffffff;
}

/*Header sm*/

@media (max-width: 1199px) {
    .container {
        max-width: 1170px;
    }

    .header-nav-wrapper {
        justify-content: center;
    }

    .header-nav-wrapper .header-nav,
    .header-nav-wrapper .header-nav-container {
        display: none;
    }

    .toggle-nav {
        display: block;
    }

    section.header {
        padding: 20px 0;
    }
}

@media (max-width: 650px) {
    .header-nav-wrapper .logo {
        width: 190px;
    }
}

/*TOOLTIP*/
.header-tooltip {
    display: none;
    position: absolute;
    top: 40px;
    right: 135px;
    background: #f6f9fc;
    max-width: 520px;
    width: 100%;
    border-radius: 5px;
    left: -50px;
    min-width: 520px;
    z-index: 5;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.header-tooltip:before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    top: -6px;
    left: 85px;
    background: #f6f9fc;
    transform: rotate(45deg);
    box-shadow: -1px -1px 1px rgba(0, 0, 0, .05);
}

.header-nav .menu-item:nth-child(1):hover .header-tooltip-solutions,
.header-nav .menu-item:nth-child(2):hover .header-tooltip-resources {
    display: block;
}

.head-tooltip {
    display: flex;
    text-align: left;
}

.head-tooltip p {
    margin: 0;
    width: 50%;
    color: #b2b6ba;
    font-size: 11px;
    font-weight: 800;
    padding: 18px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.5;
}

.content-tooltip-wrap {
    display: flex;
    text-align: left;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
}

.content-tooltip {
    background: #ffffff;
    width: 50%;
    padding: 35px 25px 0;
}

.content-tooltip-item:before {
    position: absolute;
    left: -4px;
    top: 3px;
}

.content-tooltip-item {
    position: relative;
    margin-bottom: 26px;
    padding-left: 23px;
    height: 45px;
    overflow: hidden;
}

.content-tooltip-item.icon-star-filled:before {
    color: #eea321;
    font-size: 14px;
}

.icon-star-filled .learn-more:before {
    color: #eea321;
}

.content-tooltip-item.icon-volume-off:before {
    color: #d12b5d;
    font-size: 17px;
}

.icon-volume-off .learn-more:before {
    color: #d12b5d;
}

.content-tooltip-item.icon-blank:before {
    color: #2be9de;
    font-size: 11px;
    transform: rotate(45deg);
    left: 0;
}

.icon-blank .learn-more:before {
    color: #2be9de;
}

.content-tooltip-item.icon-menu:before {
    color: #55aef9;
    font-size: 14px;
}

.icon-menu .learn-more:before {
    color: #55aef9;
}

.content-tooltip-item.icon-play:before {
    color: #d12b5d;
    font-size: 14px;
}

.icon-play .learn-more:before {
    color: #d12b5d;
}

.content-tooltip-item.icon-help:before {
    color: #0acb77;
    font-size: 14px;
}

.icon-help .learn-more:before {
    color: #0acb77;
}

.content-tooltip-item p {
    color: #5d5c66;
    font-weight: 800;
    line-height: 1.3;
}

.content-tooltip-item span {
    color: #b3b2bb;
    font-size: 14px;
    letter-spacing: .2px;
    display: block;
    transition: .5s all;
}

.content-tooltip-item .learn-more {
    position: relative;
    color: #4e4e51;
    font-weight: 600;
}

.learn-more.icon-right:before {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.content-tooltip .content-tooltip-item:hover {
    text-decoration: none;
}

.content-tooltip-item:hover .content-category {
    opacity: 0;
    margin-top: -20px;
}

/*TOOLTIP*/

/*Footer copyrights*/
.section-copyrights-wrap {
    border-top: 1px solid #e7e6f1;
    padding: 30px 0;
    color: #a5a3b9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 200;
}

.footer-logo {
    width: 180px;
}

.footer-logo a {
    width: 100%;
}

.footer-logo svg path, .footer-logo svg polygon {
    fill: #adaac7;
}

.footer-privacy p {
    text-align: center;
}

.privacy-list {
    text-align: center;
}

.privacy-list li {
    display: inline-block;
    border-bottom: 1px solid;
    padding-bottom: 1px;
    margin-right: 8px;
}

.privacy-list li:last-child {
    margin-right: 0;
}

.privacy-list li:hover {
    border-bottom: 0;
}

/*Footer copyrights*/

@media (max-width: 992px) {
    .section-copyrights-wrap {
        flex-direction: column;
    }

    .footer-logo {
        margin-bottom: 20px;
        opacity: 1;
    }

    .privacy-list {
        margin-bottom: 5px;
    }
}

/*Description page*/
.description-page {
    text-align: center;
    margin-bottom: 65px;
}

.description-page h1,
.description-title {
    font-size: 48px;
    margin-bottom: 45px;
    letter-spacing: .1px;
}

.description-page p {
    font-size: 20px;
    color: #7f7e88;
    font-weight: 200;
    line-height: 30px;
}

.description-page-info {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 470px;
    margin: 0 auto;
}

.description-page-info p {
    margin-right: 30px;
    line-height: 22px;
    text-align: right;
}

/*Description page*/
@media (max-width: 992px) {
    .description-page h1,
    .description-title {
        font-size: 28px;
        margin-bottom: 25px;
        line-height: 32px;
    }

    .description-page p {
        font-size: 18px;
        line-height: 25px;
    }
}

/*Section video*/
.video-items-wrap {
    display: flex;
    flex-wrap: wrap;
}
.video-item {
    width: calc((100% / 3) - 20px);
    margin: 0 30px 53px 0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(0, 0, 0, .3);
    background: #ffffff;
}
.video-item .play-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
}


.video-item:nth-child(3n) {
    margin-right: 0;
}

.video-item .item-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
}

.item-categories {
    text-transform: uppercase;
    font-size: 13px;
    color: #ffffff;
    padding: 8px 16px;
    font-weight: 800;
    letter-spacing: 0.85px;
}

.item-categories.influencers {
    background: #605ed8;
}

.item-categories.webinars {
    background: #aa4bd6;
}

.item-categories.advertizers {
    background: #39b6f2;
}

.item-title span {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .1px;
}

.video-item .item-categories {
    margin: 5px 18px 5px 0;
}

.video-item .item-date {
    font-size: 14px;
    color: #b2b2b2;
    margin: 5px 0;
}

.video-item-description {
    padding: 17px 23px;
}

/*Section video*/

@media (max-width: 1199px) {
    .page-content {
        margin: 50px 0;
    }

    .video-item {
        width: calc((100% / 2) - 10px);
        margin: 0 20px 20px 0;
    }

    .video-item:nth-child(2n) {
        margin-right: 0;
    }

    .video-item:nth-child(3n) {
        margin-right: auto;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .item-categories {
        font-size: 11px;
    }

    .item-title a {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .video-item {
        width: 100%;
        margin: 0 0 25px;
    }
}

/*CONTACT FORM 7*/
/*{{TODO: add preloader}}*/
div.wpcf7 .ajax-loader {
    display: none;
}
/*CONTACT FORM 7*/

/*SUPPORT PAGE*/
.main-form {
    margin-bottom: 70px;
}
.form-item {
    position: relative;
    margin-bottom: 20px;
}
.select-item {
    position: relative;
}
.select-item:before {
    position: absolute;
    z-index: 1;
    content: '';
    right: 22px;
    top: 25px;
    border: 6px solid transparent;
    border-top: 6px solid #6b6b6b;
}

.form-item .required-icon {
    position: absolute;
    top: 15px;
    left: 33px;
    color: #ed4155;
}
.form-item select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.form-item input, .form-item textarea, .form-item select {
    font-size: 20px;
    padding: 15px 35px 15px 35px;
    width: 100%;
    border: 1px solid #e9ebf2;
    background: #ffffff;
    border-radius: 4px;
    font-weight: 400;
    letter-spacing: .2px;
    resize: none;
}

.form-item.required input, .form-item.required textarea{
    padding-left: 50px;
}

.form-item input::placeholder, .form-item textarea::placeholder, .form-item select {
    color: #83828c;
}

/*.form-item input:focus, .form-item textarea:focus {*/
/*box-shadow: 0 0 3px 1px rgba(69, 87, 175,.7);*/
/*border: transparent;*/
/*}*/

.form-item-pair {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-item-pair .form-item, .form-item-pair .form-item-button {
    width: calc(50% - 15px);
}

.submit-form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.send-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.successfully-message {
    color: #7cb649;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .6px;
    font-size: 15px;
}
.successfully-message .wpcf7-mail-sent-ok {
    border:0;
    margin: 0;
    padding: 0;
}

.send-form .successfully-message {
    margin: 10px 25px 10px 0;
}

.send-message-social {
    display: flex;
    color: #83828c;
}

.send-message-social .social-item {
    width: 50%;
    padding: 23px 40px 26px;
}

.send-message-social .social-item p {
    font-size: 18px;
    letter-spacing: .2px;
}

.social-item-left {
    text-align: right;
    border-right: 1px solid #dfdee7;
}

.send-message a {
    cursor: pointer;
    color: #ffffff;
    padding: 13px 33px 13px 25px;
    display: inline-flex;
    align-items: center;
    vertical-align: bottom;
    width: 175px;
    margin: 25px auto;
}

.send-message-social .telegram-btn {
    margin-right: 20px;
}

.telegram-btn {
    background: #61a8de;
    letter-spacing: .3px;
}

.telegram-btn .icon-paper-plane {
    font-size: 24.83px;
    margin-right: 10px;
}

.livechat-btn {
    background: #313131;
}

.livechat-btn img {
    width: 27px;
    height: 27px;
    margin-right: 13px;
}

@media (max-width: 992px) {
    .send-message-social .telegram-btn {
        margin-right: 0;
    }

    .send-message a {
        margin: 10px auto;
    }
}

@media (max-width: 767px) {
    .g-recaptcha {
        transform: scale(0.9);
        transform-origin: 0 0;
    }
    .description-page-info {
        flex-direction: column;
        max-width: 100%;
    }

    .description-page-info p {
        margin: 0 0 15px;
        text-align: center;
    }

    .send-message-social {
        flex-direction: column;
        margin-top: 30px;
    }

    .send-message-social .social-item {
        width: 100%;
        padding: 0;
    }

    .send-message-social .telegram-btn {
        margin-right: 15px;
    }

    .social-item-left {
        text-align: left;
        border: 0;
    }

    .send-form .successfully-message {
        width: 100%;
    }
}

/*SUPPORT PAGE*/

/*CONSTRUCTION PAGE*/
.construction-page h1 {
    font-size: 46px;
    margin-bottom: 27px;
    color: #3d3d5a;
}

.construction-page-img {
    background: url('../img/construction-img.png') no-repeat 50% 50%;
    background-size: contain;
    width: 100%;
    height: 385px;
    object-fit: cover;
}

.link-another-page a, .link-another-page span {
    color: #a5a3b9;
    font-weight: 200;
}

.link-another-page a {
    letter-spacing: .25px;
}

.link-another-page a:hover {
    text-decoration: underline;
}

.link-another-page span {
    margin: 0 10px;
}

@media (max-width: 992px) {
    .construction-page h1 {
        font-size: 28px;
        margin-bottom: 25px;
    }

    .construction-page-img {
        height: 300px;
    }
}

/*CONSTRUCTION PAGE*/

/*404 PAGE*/
.error-page-img {
    background: url('../img/404.png') no-repeat 50% 50%;
    background-size: contain;
    width: 100%;
    height: 385px;
    object-fit: cover;
}

/*404 PAGE*/

/*CAREERS PAGE*/
section.header-careers {
    position: absolute;
    width: 100%;
    z-index: 10;
}

.header-careers .header-logo .st0,
.header-careers .header-logo .st1,
.header-careers .header-logo .st2,
.header-careers .header-logo .st3 {
    fill: #fff;
}

.header-careers .header-nav a {
    color: #ffffff;
}

.header-careers .toggle-nav span, .header-careers .toggle-nav span:after, .header-careers .toggle-nav span:before {
    background-color: #ffffff;
}

.header-careers .toggle-nav.on span {
    background-color: transparent;
}

/*FOOTER CAREERS*/
.section-footer {
    padding: 80px 0;
    color: #a5a3b9;
}

.footer-items {
    display: flex;
}

.footer-item {
    width: 16.67%;
    padding: 0 15px;
}

.footer-item .footer-title {
    font-size: 1.125rem;
    font-weight: 700;
    color: #a5a3b9;
    letter-spacing: 0.025em;
    margin-bottom: 1.5rem;
}

.footer-item .footer-nav {
    font-weight: 300;
    font-size: 1rem;
    color: #a5a3b9;
    line-height: 1.8;
}

.footer-item .footer-nav a {
    letter-spacing: .4px;
}

.social-links .social-link {
    margin-bottom: .5rem;
    width: 30px;
    display: inline-block;
}
.social-links .social-link a{
    color: #a5a3b9;
    font-size: 20px;
}
.social-links .social-link a:hover {
    color: #4557af;
}

@media (max-width: 992px) {
    .footer-items {
        flex-wrap: wrap;
    }

    .footer-item {
        width: 25%;
    }

    .footer-item.social-links {
        width: 100%;
        margin: 24px 0;
    }

    .social-links .social-link {
        width: calc(20% - 5px);
        text-align: center;
    }

    .select-language {
        order: 2;
    }
}

@media (max-width: 767px) {
    .footer-item {
        width: 50%;
        padding: 0;
        margin-bottom: 1.5rem;
    }
}

/*FOOTER CAREERS*/

.careers-main {
    position: relative;
    background: url('../img/careers-image.jpg');
    padding: 200px 0 120px;
    color: #ffffff;
    text-align: center;
}

.careers-main:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 23, 46, .6);
}

.career-text-item {
    position: relative;
}

.career-text-item .description-title {
    margin-bottom: 70px;
}

.career-text-item .careers-text {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 40px;
}

.career-text-item .info-text {
    font-size: 26px;
}

.ready-offer {
    position: relative;
    background: url('../img/careers.png');
    background-position: 64% 84%;
    color: #ffffff;
    padding: 95px 0;
}

.ready-offer:before {
    position: absolute;
    content: '';
    width: 37px;
    height: 37px;
    background: #5e15cb;
    bottom: -17px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.ready-offer h2 {
    text-align: center;
    font-size: 40px;
    letter-spacing: .1px;
    margin-bottom: 60px;
}

.ready-offer-list li {
    position: relative;
    width: calc(50% - 3px);
    display: inline-block;
    padding-left: 50px;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.1px;
}

.ready-offer-list li:before {
    position: absolute;
    content: '';
    left: 20px;
    top: 9px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #6fc3f4;
}

.search-work {
    background: #ffffff;
    padding: 100px 0 50px;
    overflow: hidden;
}

.search-work h2 {
    font-size: 36px;
    letter-spacing: .1px;
    color: #151519;
}

.open-positions-item {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 45px;
}

.select-location {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px 0 70px;
    max-width: 960px;
}

.select-location .select-container {
    position: relative;
    width: calc(50% - 20px);
}

.select-location .select2 {
    width: 100% !important;
}

.open-vacancies {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 45px;
}

.open-vacancies--list-item {
    color: #388df4;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
}
.open-vacancies--list-item:last-child {
    margin-bottom: 0;
}
.vacancy-title {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.vacancy-title.icon-right-1:before {
    position: absolute;
    color: #cfd1d9;
    font-size: 26px;
    top: 50%;
    transform: translateY(-50%);
    left: -45px;
}


.description-work {
    position: relative;
    display: none;
    padding: 60px 0;
    margin-top: 60px;
    color: #151519;
    z-index: 1;
    /*opacity: 0;*/
    /*overflow: visible;*/
    /*transition: none;*/

}
/*.description-work.active {*/
    /*opacity:1;*/
    /*transition:opacity .5s;*/
    /*!*overflow: visible !important;*!*/
/*}*/

.description-work:before {
    content: '';
    position: absolute;
    background: #f5f7fd;
    left: -100%;
    right: -100%;
    top: 0;
    bottom: 0;
    z-index: -1;
    /*opacity:0;*/
    /*transition: none;*/
}
/*.description-work.active:before{*/
    /*opacity:1;*/
    /*transition:opacity .5s;*/
/*}*/
.description-work h3 {
    position: relative;
    font-size: 28px;
    font-weight: 600;
    color: #388df4;
    margin-bottom: 15px;
}

.description-work .location-work {
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 60px;
    font-size: 16px;
    color: #7b7a81;
    font-weight: 800;
}

.description-work .location-work:before {
    color: #b2b2b6;
}

.description-work .invitation-work {
    font-size: 18px;
    font-weight: 300;
}

.work-description-group {
    margin-top: 35px;
}

.work-description-group p {
    font-size: 18px;
    color: #222223;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: .4px;
}

.work-description-group li {
    position: relative;
    font-weight: 300;
    padding-left: 35px;
    font-size: 16px;
    color: #7b7a81;
    margin: 7px 0;
}

.work-description-group li:before {
    position: absolute;
    content: '';
    background: #cfcddd;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    left: 17px;
    top: 10px;
}

.work-description-group.requirements li:before {
    background: #6ca7f6;
}

.careers-form {
    margin-top: 80px;
}

.careers-form-titles {
    display: flex;
    justify-content: space-between;
}

.careers-form h3 {
    font-size: 24px;
    letter-spacing: .2px;
    margin-bottom: 25px;
    color: #262627;
}

.privacy-policy {
    font-size: 14px;
    letter-spacing: .2px;
    color: #a2a1b0;
    /*font-weight: 400;*/
}

.privacy-policy a {
    color: #c7c7d6;
    text-decoration: underline;
}

.careers-form .btn-gradient-blue {
    width: 100%;
}

.other-work-vacancies {
    background: #ffffff;
    padding: 75px 0 110px;
}

/*INPUT TYPE FILE*/
.custom-input-file {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashed-repeating-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(to right, #adaac7 0%, #adaac7 50%, transparent 50%, transparent 100%), repeating-linear-gradient(to right, #adaac7 0%, #adaac7 50%, transparent 50%, transparent 100%), repeating-linear-gradient(to bottom, #adaac7 0%, #adaac7 50%, transparent 50%, transparent 100%), repeating-linear-gradient(to bottom, #adaac7 0%, #adaac7 50%, transparent 50%, transparent 100%);
    background-position: left top, left bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 12px 1px, 12px 1px, 1px 12px, 1px 12px;
}

.custom-input-file .icon-attach {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: #9a97b0;
    padding: 10px;
    letter-spacing: .5px;
}

.custom-input-file .icon-attach:before {
    font-size: 24.83px;
    transform: rotate(-90deg);
}

.custom-input-file input[type='file'] {
    display: none;
}

.download-file-name {
    font-size: 20px;
    padding: 10px 0;
}

/*INPUT TYPE FILE*/
.select-location .select2 .selection {
    width: 100%;
    position: relative;
}

.select-country .select2-container--default .select2-selection--single .select2-selection__rendered {
    background: #fbfcfd;
}

.select-location .select2-container .select2-selection--single {
    height: auto;
}

.select-location .select2-container--default .select2-selection--single {
    border: 1px solid #f2f2f4;
    outline: none;
}

.select-location .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #83828c;
    text-transform: uppercase;
    padding: 15px 25px;
}

.select-location .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    width: 50px;
}

.select-location .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #5f5e5e transparent transparent transparent;
}

@media (max-width: 992px) {
    .careers-main {
        padding: 120px 0 60px;
    }

    .career-text-item .description-title {
        margin-bottom: 30px;
    }

    .career-text-item .careers-text {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .career-text-item .info-text {
        font-size: 23px;
    }

    .ready-offer {
        padding: 40px 0;
    }

    .ready-offer h2 {
        font-size: 34px;
        margin-bottom: 35px;
    }

    .search-work h2 {
        font-size: 26px;
    }

    .form-item-pair {
        flex-direction: column;
        align-items: center;
    }
    .form-item-pair .form-item-button:first-child {
        margin-bottom: 20px;
    }

    .form-item-pair .form-item {
        width: 100%;
    }

    .form-item .required-icon {
        left: 15px;
        top: 15px;
    }
    .select-item:before {
        top: 19px;
    }

    .form-item input, .form-item textarea, .form-item select {
        padding: 12px 30px;
        font-size: 16px;
    }

    .form-item.required input, .form-item.required textarea, .form-item select {
        padding-left: 30px;
    }

    .careers-form .btn-gradient-blue {
        font-size: 16px;
        padding: 16px;
        max-width: 500px;
        margin: 0 auto;
        display: block;
    }
}

@media (max-width: 767px) {
    .ready-offer-list li {
        width: 100%;
        font-size: 18px;
        margin-bottom: 15px;
    }

    .select-location {
        flex-direction: column;
    }

    .select-location .select-container {
        width: 100%;
        max-width: 600px;
    }

    .select-location .select-country {
        margin-bottom: 16px;
    }

    .select-location .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding: 10px 20px;
        font-size: 14px;
    }

    .description-work {
        padding: 30px 0;
    }

    .open-positions-item, .open-vacancies {
        padding: 0;
        max-width: 100%;
    }

    .open-vacancies--list-item {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .vacancy-title.icon-right-1:before {
        position: relative;
        font-size: 20px;
        margin-right: 10px;
        left: auto;
        top: auto;
        transform: none;
    }
}

@media(max-width: 540px) {
    .form-item-pair .form-item, .form-item-pair .form-item-button {
        width: 100%;
    }
    .description-work:before {
        left: -15px;
        right: -15px;
    }
}

/*CAREERS PAGE*/

/*DOCUMENTS PAGE*/
.section-books .book-items {
    display: flex;
    flex-wrap: wrap;
}
.section-books .book-item {
    position: relative;
    width: calc(25% - 30px);
    margin-bottom: 70px;
    margin-right: 40px;
    height: 200px;
    border-radius:5px;
    padding: 28px 20px;
    background: #ffffff;
    box-shadow: 0 3px 31px 0 rgba(1, 3, 57, 0.18);
}
.section-books .book-item:nth-child(4n) {
    margin-right: 0;
}
.book-item .media-body {
    width: 55%;
}
.book-item .book-item--title {
    font-size: 17px;
    letter-spacing: .5px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 25px;
}
.book-item .book-item--language {
    width: calc(50% - 3px);
    display: inline-block;
    margin-bottom: 8px;
    padding: 0 4px;

}
.book-item .book-item--languages a {
    width: 100%;
    /*margin: 4px;*/
    color: #4557af;
    padding: 2px;
    text-align: center;
    border-radius:5px;
    border:1px solid #e1e3f1;
    font-size: 16px;
    letter-spacing: .5px;
    transition: .5s all;
}
.book-item .book-item--language a:hover {
    color: #ffffff;
    background-color: #4557af;
    border-color: #4557af;
}
.book-item .book-item--image {
    position: absolute;
    top: 28px;
    right: -10px;
    bottom: -10px;
    width: 45%;
    object-fit: cover;
}
.book-items .book-item--image img {
    border-radius:5px;
}

/*@media(max-width: 1200px) {*/


/*}*/

@media(max-width: 992px) {
    .section-books .book-item {
        width: calc(50% - 15px);
        margin: 0 30px 50px 0;
        padding: 16px;
    }
    .section-books .book-item:nth-child(2n),
    .section-books .book-item:nth-child(4n) {
        margin-right: 0;
    }
}
@media(max-width: 767px) {
    .section-books .book-item {
        width: 100%;
        margin-right: 0;
    }
}
/*DOCUMENTS PAGE*/

.wpcf7-form-control-wrap {
    display: block;
}

.w-100 {
    width: 100%;
    display: inline-block;
}

.send-message-social .row.no-gutters.text-center {
    margin-top: 40px;
}

.send-message-social .col.mb-2 {
    font-family: 'Lato-Bold';
    font-size: 1.125rem;
    color: #a5a3b9;
    letter-spacing: 0.025em;
    float: left;
    margin-right: 15px;
}

.send-message-social .social-links ul li a {
    font-family: 'Lato-Light';
    font-weight: 300;
    font-size: 1rem;
    color: #a5a3b9;
    line-height: 1.8;
}

.send-message-social .social-links {
    font-size: 20px;
}

.send-message-social .social-links a {
    color: #a5a3b9;
    font-size: 23px;
}

.send-message-social .social-links a:hover,
.send-message-social .social-links a:active {
    color: #4557af;
}

.telegram-btn .icon-paper-plane {
    font-size: 18px;
}


/*------------------------FAQ---------------------------*/
/* FAQ 1 PAGE */
.secondary-title {
    font-size: 36px;
    color: #151519;
    line-height: 1.389;
    text-align: center;
}

.faq {
    padding-top: 100px;
    padding-bottom: 60px;
}

.page-title {
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 3rem;
}

.faq-help-form-wrapper {
    width: 100%;
}

.faq-help-form {
    max-width: 760px;
    margin: 0 auto;
}

.faq-help-form input {
    width: 100%;
    background: #fff url(../img/search-icon.png) no-repeat 24px;
    height: 39px;
    border: 1px solid #ebebeb;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding-left: 50px;
    padding-right: 45px;
    font-size: 15px;
    color: #aaaaaf;
    position: relative;
    letter-spacing: 0.25px;
}

.faq-help-form-queries {
    margin-top: 20px;
    text-align: center;
    color: #7f7e88;
}

.faq-help-form-queries b {
    color: #403f46;
    font-weight: bold;
}

/* Faq Question List And Item */

.faq-question {
    padding-bottom: 50px;
}

.faq-question-list {
    display: flex;
    flex-flow: row wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.faq-question-item {
    position: relative;
    width: calc(100% / 3 - 20px);
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 40px 30px 40px;
    background-color: #fff;
    box-shadow: 0 7px 20px 0 rgba(25, 21, 36, 0.1);
    text-align: center;
}

@media only screen and (max-width: 991px) {
    .faq-question-item {
        width: calc(100% / 2 - 20px);
    }
}

@media only screen and (max-width: 540px) {
    .faq-question-item {
        width: 100%;
    }
}

.faq-question-item--end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: -moz-linear-gradient( 139deg, rgb(57,182,242) 0%, rgb(98,115,244) 67%, rgb(115,88,246) 85%, rgb(131,60,247) 100%, rgb(18,203,134) 100%, rgb(189,49,106) 100%);
    background-image: -webkit-linear-gradient( 139deg, rgb(57,182,242) 0%, rgb(98,115,244) 67%, rgb(115,88,246) 85%, rgb(131,60,247) 100%, rgb(18,203,134) 100%, rgb(189,49,106) 100%);
    background-image: -ms-linear-gradient( 139deg, rgb(57,182,242) 0%, rgb(98,115,244) 67%, rgb(115,88,246) 85%, rgb(131,60,247) 100%, rgb(18,203,134) 100%, rgb(189,49,106) 100%);
    padding: 55px 30px 40px;
}

.faq-question-item--end .faq-question-item__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: #fff;
}

.faq-question-item__btn {
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff;
    color: #4557af;
    padding: 12px 42px;
    font-size: 18px;
}


.faq-question-item__icon {
    font-size: 30px;
}

.faq-question-item__icon.fa {
    color: #2254d2;
}

.faq-question-item__icon.fa-gavel {
    color: #e44168;
}

.faq-question-item__img {
    width: 35px;
    height: auto;
}

.faq-question-item__img--security {
    width: 30px;
}

.faq-question-item__title {
    font-size: 25px;
    color: #353538;
    margin: 20px 0 15px;
    font-weight: 600;
}

.faq-question-item__text {
    font-size: 18px;
    color: #b3b2bb;
    font-weight: 600;
    letter-spacing: .2px;
}

/* Popular Topics Section */

.popular-topics-title {
    margin-bottom: 50px;
}

.popular-topics {
    font-size: 36px;
    color: #151519;
    line-height: 1.389;
    text-align: center;
    margin-bottom: 40px;
}

.popular-topics-list {
    background-color: #fff;
    box-shadow: 0px 7px 20px 0px rgba(25, 21, 36, 0.1);
}

.popular-topics-item {
    position: relative;
    border-bottom: 1px solid rgba(211, 211, 211, .4);
}

.popular-topics-item__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 18px;
    color: #151519;
    text-align: left;
    padding: 20px 40px;
}
.popular-topics-item .open-popup-video {
    color: #b1b3bc;
    font-size: 18px;
    letter-spacing: .5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
}
.popular-topics-item .icon-videocam:before {
    margin-right: 10px;
}

@media only screen and (max-width: 540px) {
    .popular-topics-item__link {
        display: flex;
        padding: 10px 20px;
        flex-direction: column;
        align-items: flex-start;
    }
    .popular-topics-item .open-popup-video {
        position: relative;
        text-align: left;
        transform: none;
        right: auto;
        font-size: 14px;
        display: block;
        padding: 10px 20px;
    }

}

.popular-topics-item:hover {
    background-image: -moz-linear-gradient( -177deg, rgb(57,182,242) 0%, rgb(98,115,244) 67%, rgb(115,88,246) 85%, rgb(131,60,247) 100%, rgb(18,203,134) 100%, rgb(189,49,106) 100%);
    background-image: -webkit-linear-gradient( -177deg, rgb(57,182,242) 0%, rgb(98,115,244) 67%, rgb(115,88,246) 85%, rgb(131,60,247) 100%, rgb(18,203,134) 100%, rgb(189,49,106) 100%);
    background-image: -ms-linear-gradient( -177deg, rgb(57,182,242) 0%, rgb(98,115,244) 67%, rgb(115,88,246) 85%, rgb(131,60,247) 100%, rgb(18,203,134) 100%, rgb(189,49,106) 100%);
    box-shadow: 0 7px 20px 0 rgba(25, 21, 36, 0.1);
    color: #fff;
}

.popular-topics-item:hover .open-popup-video, .popular-topics-item:hover .popular-topics-item__link {
    color: #fff;
}

.faq-video--title {
    margin-bottom: 25px;
}

/* FAQ 3 PAGE */

.faq-content-section {
    background-color: #fff;
}

.faq-content {
    margin: 40px 0;
}
.faq-content p {
    color: #7b7a81;
}
.faq-content a {
    color: #478df5;
}
.faq-content a:hover {
    text-decoration: underline;
}

.faq-content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding-bottom: 75px;
}

@media only screen and (max-width: 991px) {
    .faq-content-container {
        flex-direction: column;
        align-items: center;
    }
}

.faq-content-wrapper {
    width: 100%;
    margin-right: 50px;
}

@media only screen and (max-width: 991px) {
    .faq-content-wrapper {
        max-width: 100%;
        margin-right: 0;
    }
}

@media (max-width: 1279px) {
    .faq-content-wrapper {
        max-width: 830px;
    }
}

.sidebar-container {
    width: 298px;
    flex-shrink:0;
}

@media only screen and (max-width: 991px) {
    .sidebar-container {
        width: 100%;
    }
    .page-title {
        font-size: 28px;
        line-height: 32px;
    }
}

/* Faq Sidebar Container */

.faq-sidebar-container {
    position: sticky;
    top: 30px;
    margin-top: 30px;
}

.faq-sidebar-container .faq-question-list {
    flex-flow: column wrap;
    margin-right: 0;
    margin-left: 0;
}

.faq-sidebar-container .faq-question-item {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
    padding: 20px 50px;
    background-color: #fff;
    text-align: center;
    box-shadow: none;
}

.faq-sidebar-container .faq-question-item:hover {
    background-color: rgba(245, 247, 253, .6);
}


.faq-sidebar-container .faq-question-item.active {
    box-shadow: 0px 7px 20px 0px rgba(25, 21, 36, 0.1);
}

.faq-sidebar-container .faq-question-item__icon {
    font-size: 22px;
}

.faq-sidebar-container .faq-question-item__img {
    width: 25px;
}

.faq-sidebar-container .faq-question-item__img--security {
    width: 22px;
}

.faq-sidebar-container .faq-question-item__title {
    color: #353538;
    font-size: 18px;
    margin: 0;
    margin-left: 15px;
    text-align: left;
}

/* Faq Helpful Block */

.faq-helpful-block {
    border-radius: 3px;
    background-color: #f9fafe;
    padding: 40px 30px;
    text-align: center;
    margin-bottom: 20px;
}

.faq-helpful-block__title {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 25px;
}

.faq-helpful-block__btn {
    width: 80px;
    border: 1px solid #e8ebf6;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    color: #478df5;
}

.faq-helpful-block__btn:focus {
    outline: none;
}

.faq-helpful-block__btn:first-of-type {
    margin-right: 20px;
}

/* Faq Success Block */

.faq-success-block {
    display: none;
    padding: 60px 30px;
    margin-bottom: 20px;
    border: 1px solid #e8ebf6;
    border-radius: 3px;
}

.faq-success-block__title {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    text-align: center;
}
.faq-success-block__title:before {
    color: #7fbc53;
}

/* Faq Support Block */

.faq-support-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: -moz-linear-gradient( 176deg, rgb(57,182,242) 0%, rgb(98,115,244) 67%, rgb(115,88,246) 85%, rgb(131,60,247) 100%, rgb(18,203,134) 100%, rgb(189,49,106) 100%);
    background-image: -webkit-linear-gradient( 176deg, rgb(57,182,242) 0%, rgb(98,115,244) 67%, rgb(115,88,246) 85%, rgb(131,60,247) 100%, rgb(18,203,134) 100%, rgb(189,49,106) 100%);
    background-image: -ms-linear-gradient( 176deg, rgb(57,182,242) 0%, rgb(98,115,244) 67%, rgb(115,88,246) 85%, rgb(131,60,247) 100%, rgb(18,203,134) 100%, rgb(189,49,106) 100%);
    box-shadow: 0px 7px 20px 0px rgba(25, 21, 36, 0.1);
    padding: 55px 30px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 991px) {
    .faq-support-block {
        flex-direction: column;
    }
    .faq-support-block__title {
        text-align: center;
        margin-bottom: 20px;
    }
}


.faq-support-block__title {
    color: #fff;
    font-size: 26px;
}

.faq-support-block__btn {
    border-radius: 5px;
    background-color: #fff;
    color: #4557af;
    border: none;
    padding: 10px 30px;
    font-size: 18px;
    cursor: pointer;
}

/* Faq List */

.faq-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

/* .faq-list:first-of-type {
	padding-right: 40px;
} */

.faq-item {
    position: relative;
    display: flex;
    width:calc(50% - 40px);
    margin-bottom: 25px;
    padding-left: 20px;
}

.faq-item::before {
    position: absolute;
    content: "•";
    color: #ecaf2b;
    display: inline-block;
    width: 1em;
    left: 0;
    z-index: 1;
}

.faq-item__link {
    color: #7b7a81;
    font-size: 18px;
    font-weight: 300;
}

.faq-item__link:hover {
    text-decoration: underline;
}

.faq-item__link .fa-video {
    font-size: 14px;
    color: #ecaf2b;
    margin-left: 10px;
}

@media only screen and (max-width: 991px) {
    .faq-list {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .faq-item {
        width: 100%;
    }
    .faq-item__link {
        font-size: 16px;
    }
}


/* Faq Articles Block */

.faq-articles-block__title {
    font-size: 20px;
    margin: 30px 0;
    font-weight: 500;
}

.faq-articles-wrapper {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 991px) {
    .faq-articles-wrapper {
        flex-direction: column;
    }
}

/* FAQ 2 PAGE */

/* Faq Articles */

.faq-articles {
    padding: 80px 0;
}

.faq-articles .faq-articles-block {
    margin-bottom: 60px;
}

@media only screen and (max-width: 991px) {
    .faq-articles {
        padding-bottom: 0;
        margin: 0;
    }

    .faq-articles .faq-articles-block {
        margin-bottom: 40px;
    }

    .faq-articles .faq-articles-block:last-of-type {
        margin-bottom: 0;
    }
}

.faq-articles__title {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom:1px solid #f6f6f8;
}

/* Faq Help Side */

.faq-help-side {
    padding: 40px;
    background-image: -moz-linear-gradient( 139deg, rgb(57,182,242) 0%, rgb(98,115,244) 67%, rgb(115,88,246) 85%, rgb(131,60,247) 100%, rgb(18,203,134) 100%, rgb(189,49,106) 100%);
    background-image: -webkit-linear-gradient( 139deg, rgb(57,182,242) 0%, rgb(98,115,244) 67%, rgb(115,88,246) 85%, rgb(131,60,247) 100%, rgb(18,203,134) 100%, rgb(189,49,106) 100%);
    background-image: -ms-linear-gradient( 139deg, rgb(57,182,242) 0%, rgb(98,115,244) 67%, rgb(115,88,246) 85%, rgb(131,60,247) 100%, rgb(18,203,134) 100%, rgb(189,49,106) 100%);
    box-shadow: 0px 7px 20px 0px rgba(25, 21, 36, 0.1);
    text-align: center;
}

.faq-help-side__title {
    font-size: 26px;
    color: #fff;
    margin-bottom: 30px;
}

.faq-help-side__btn {
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff;
    color: #4557af;
    padding: 5px 20px;
}

/* Breadcrumbs */

.breadcrumbs {
    margin-top: 25px;
    z-index: 2;
}

.crumbs li {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    font-size: 14px;
    color: #bbbbc0;
    letter-spacing: .2px;
}

.crumbs li::after {
    content: '>';
    margin-left: 10px;
}
.crumbs li:last-of-type {
    font-weight: 300;
}
.crumbs li:last-of-type::after {
    display: none;
}

.crumbs li a {
    color: #404041;
}

.page-template-template-careers-page .wpcf7,
#careers_field {
    display: none;
}

.faq-question-item img,
.faq-question-item svg,
.faq-question-item__content img,
.faq-question-item__content svg {
    width: 40px;
}

.text-center {
    text-align: center!important;
}
.default-btn {
    position: relative;
}
.btn-social-media {
    position: relative;
    color: #4557af;
    background: linear-gradient(to right, #ebeaff 0%, #f4ebff 100%);
    font-family: 'Lato-Regular';
    padding: 10px 33px;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 120px;
    margin-top: 30px;
}
.btn-social-media span {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .1px;
    position: relative;
    font-family: 'Lato';
    z-index: 5;
}
.default-btn:hover:before {
    content: '';
    background: rgba(255, 255, 255, .3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* opacity: .9; */
}