/*
Theme Name: Market
Author: Roman Bondarenko 
Author URI: http://romchyk16.xyz
Description: The Best theme.
Version: 2.1.1
License: GNU General Public License
License URI: license.txt
Text Domain: market
*/

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.advisor-item--video[_ngcontent-c5] {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    background: #ed3a49;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.24px;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.advisor-item--video[_ngcontent-c5] .view-video[_ngcontent-c5] {
	padding: 12px 30px; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    white-space: nowrap;
}

.advisor-item--video[_ngcontent-c5] i[_ngcontent-c5] {
    font-size: 1.5rem;
    margin-right: 15px;
}

/*.advisor-item--video[_ngcontent-c5]:hover {*/
    /*background-image: -webkit-gradient(linear,left bottom,left top,from(#ba1414),to(red));*/
    /*background-image: linear-gradient(to top,#ba1414 0,red 100%);*/
/*}*/

/*========= Widgets =========*/
.widget {
    margin-bottom: 40px;
}

.widget div {
    font-size: 18px;
    font-family: "Lato-Bold", sans-serif;
    color: #1c1c1d;
    margin-bottom: 25px;
}
.widget:last-child, .widget div:last-child {
    margin-bottom: 0;
}

.widget.widget_categories li {
    list-style: none;
    margin-bottom: 15px;
}

.widget.widget_categories a {
    font-size: 16px;
    color: #aaaaaf;
}
.widget.widget_categories a:hover {
    text-decoration: underline;
}

.widget.widget_categories a:hover, 
.widget.widget_categories a:active, 
.widget.widget_categories a:focus {
    color: #aaaaaf;
}

.widget_search .search-submit,
.widget_search .widget-title,
.widget_search span {
    display: none;
}

.widget_search [type=search] {
    width: 195px;
    background: #fff url(../img/search-icon.png) no-repeat 24px;
    height: 39px;
    border: 1px solid #ebebeb;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding-left: 50px;
    padding-right: 45px;
    font-size: 15px;
    font-family: "Lato-Bold", sans-serif;
    color: #aaaaaf;
    position: relative;
}

.tag-cloud-link {
    position: relative;
    font-size: 16px!important;
    display: inline-block;
    margin: 0 7px 9px 0;
    background-color: #f2f2f4;
    padding: 8px 18px;
    color: #2d2d2e;
    -webkit-transition: .5s;
    transition: .5s;
}
.tag-cloud-link:hover {
    color: #2d2d2e;
}
.tag-cloud-link:hover:before {
    content: '';
    background: rgba(255, 255, 255, .1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*.tag-cloud-link:hover:before {*/
    /*content: '';*/
    /*background: rgba(255, 255, 255, .1);*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

/*.tag-cloud-link:hover {*/
    /*background-color: #46db81;*/
    /*color: #fff;*/
/*}*/

.like-preloader {
    width: 35px;
}

/*.team-hide,*/
.btn-text--hide {
    display: none;
}

/* временно */
.entry-date.published,
.url.fn.n,
.updated {
    color: #000;
}

#cancel-comment-reply-link {
    font-size: 15px;
    margin-left: 30px;
}


#cancel-comment-reply-link,
.comment-reply-link,
.comment-metadata a {
    color: #39b6f2;
}
.comment-reply-link:hover,
.comment-metadata a:hover {
    color: #39b6f2;
}
/* временно */

.header-logo svg {
    width: 100%;
}

.search .page-title span {
    font-weight: bold;
}

.search .page-header {
    margin-bottom: 20px;
}

.single .blog-category-info {
    margin-bottom: 20px;
    text-align: left;
}

.hide-btn {
    display: none;
}