$sm-color-blue: #4557af;
$sm-color-blue--hover: lighten($sm-color-blue, 5%);
$sm-color-blue--active: lighten($sm-color-blue, 10%);

$sm-bg-purple: #dbdbfe;
$sm-bg-purple--hover: darken($sm-bg-purple, 5%);
$sm-bg-purple--active: darken($sm-bg-purple, 10%);

.text-social-media {
  color: #6260ea !important;
}

.text-gray {
  color: #a5a3b9 !important;
}

.btn-social-media {
  color: $sm-color-blue;
  background-color: $sm-bg-purple;
  border-color: $sm-bg-purple;

  &:hover {
    color: $sm-color-blue;
    background-color: $sm-bg-purple--hover;
    border-color: $sm-bg-purple--hover;
  }

  .show > &.dropdown-toggle,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    color: $sm-color-blue;
    background-color: $sm-bg-purple--active;
    border-color: $sm-bg-purple--active;
  }

}


body {
  font-family: 'Lato', sans-serif !important;
  background: transparent url('../img/other/bg-header.jpg') top center no-repeat;

  @media(max-width: 767px) {
    background-position: 50% -200px;
  }
}

.page-wrapper {
  background: transparent url('../img/other/bg-footer.jpg') bottom center no-repeat;
}

@media(min-width: 1921px) {
  body,
  .page-wrapper {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
  }
}

.logo-header {
  display: inline-block;
  vertical-align: middle;
  width: 290px;
  height: 40px;
  background: transparent url('../img/other/logo-header.png') top center no-repeat;

  &:hover,
  &:active {
    background-position: bottom center;
  }
}

.logo-footer {
  display: inline-block;
  vertical-align: middle;
  width: 179px;
  height: 24px;
  background: transparent url('../img/other/logo-footer.png') top center no-repeat;

  &:hover,
  &:active {
    background-position: bottom center;
  }
}