.section-benefits {

}

.benefits-item {
  &--title {
    font-size: 2.125rem;
    line-height: 2rem;
  }

  &--desc {
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: #878691;

    strong {
      font-weight: 600;
    }
  }
}