.section-books {

  .book-item {
    box-shadow: 0 3px 31px 0 rgba(1, 3, 57, 0.18);
    border-radius: 5px;
    min-height: 180px;
    position: relative;

    > .media {
      padding-right: 110px;
    }

    &--title {
      font-size: 1.0625rem;
      color: #000000;
    }

    &--image {
      position: absolute;
      overflow: hidden;
      top: 1rem;
      right: -1rem;
      border-radius: 5px;
    }

    &--language {
      margin-left: -0.25rem !important;
      margin-right: -0.25rem !important;

      .btn {
        letter-spacing: 0.05em;
        font-size: 1rem;
        color: #4557af;
        background-color: transparent;
        border-color: #e1e3f1;

        &:hover {
          color: #fff;
          background-color: #4557af;
          border-color: #4557af;
        }
      }
    }
  }

}