.section-team {
  background: #f5f7fd;
  padding-bottom: 80px !important;

  @media (min-width: 992px){
    padding-bottom: 190px !important;
  }

  .section-title {
    font-size: 2.125rem;
  }

  .media {
    display: block;

    .media-element {
      &.fl,
      &.fr {
        float: none;
        margin-bottom: 20px;
      }

      @media(min-width: 992px) {
        &.fl {
          float: left;
          margin-right: 20px;
        }

        &.fr {
          float: right;
          margin-left: 20px;
        }
      }

    }

    .media-body {
      display: block;
      overflow: hidden;
      flex: none;
    }

    &:after {
      display: table;
      width: 100%;
      clear: both;
      content: '';
    }
  }
}


.team-list {
  margin: 0 -8px;
  list-style: none;
  padding: 0 0 50px 0;

  &:after {
    display: table;
    width: 100%;
    clear: both;
    content: '';
  }

  .team-item {
    padding: 0 8px;
    float: left;
    min-height: 1px;
    margin: 0 0 20px 0;
    width: 100%;
    text-align: center;

    @media (min-width: 768px) {
      width: percentage(1/2);
    }

    @media (min-width: 992px) {
      width: percentage(1/3);
      text-align: left;
    }

    &--inner {
      position: relative;
      background: #fff;
      padding: 20px;
      border-radius: 5px;
      height: 100%;
      box-shadow: 0 5px 20px 0 rgba(18, 7, 56, 0.1);
    }

    .media {
      margin-bottom: 15px;
    }
  }
}

.team-item {

  &--link {
    position: absolute;
    top: 10px;
    right: 10px;

    > a {
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      color: #158bcc;
      border: 1px solid;
      border-radius: 4px;
      font-size: 18px;

      & + a {
        margin-left: 5px;
      }

      &:hover,
      &:active {
        background: #158bcc;
        color: #fff;
      }
    }
  }

  &--image {
    position: relative;
    z-index: 1;
  }

  &--company {
    position: absolute;
    left: 10px;
    top: 10px;
    right: auto;

    @media (min-width: 992px) {
      top: 50px;
      left: auto;
      right: 10px;
    }
  }

  &--title {
    font-weight: bold;
    font-size: 1.625rem;
    line-height: 1.1;
    color: #23266a;
    margin: 0 0 1rem 0;
    word-spacing: 9999px;
  }

  &--job-title {
    font-size: 1.0625rem;
    line-height: 1;
    color: #000;

    strong {
      font-weight: bold;
    }
  }

  &--description {
    font-weight: 300;
    font-size: 1rem;
    color: #878691;
    margin: 0;
  }
}
